<!DOCTYPE html>
<html ng-app="footballteamsApp">
  <head>
    <title>FootballTeams</title>

    <base href="/">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
</head>

  <body>
    <div class="header">
			<div class="header__fixed">
			</div>
		</div>

    <script src="app/assets/javascripts/angular.js" type="text/javascript"></script>
		<script src="app/assets/javascripts/angular-ui-router.js"></script>
	  <script src="app/assets/javascripts/app.js"></script>
  </body>
</html>
